<table class="contributors">

  <% [article.authors, article.photographers, article.illustrators].each do |contribution_type|  %>
    <% contribution_type.each do |contribution| %>

      <tr>
        <th><%= contribution.role.thing.capitalize.pluralize %> by</em></th>
        <td class="p-author p-<%= contribution.role.name %>">
          <%= link_to contribution.contributor.name, contribution.contributor.path, rel: "author" %>
        </td>
      </tr>

    <% end %>
  <% end %>

</table>
