<article class="h-entry" style="background-image: url(<%= article.photo %>)">
  <div class="p-name">
    <h1><%= article.title %></h1>
    <h2><%= article.subtitle %></h2>
  </div>

  <table class="contributors">
    <tr>
      <th>Words by</th>
      <td class="p-author">Author Name</td>
    </tr>
    <tr>
      <th>Photos by</th>
      <td class="p-author p-photographer">Photographer Name</td>
    </tr>
    <tr>
      <th>Illustrations by</th>
      <td class="p-author p-illustrator">Illustrator Name</td>
    </tr>
  </table>
</article>
