<header>
  <h1>
    <%= link_to "Articles", archives_path, rel: "archives" %>
    :
    <time><%= link_to_dates(@articles_year, @articles_month, @articles_day) %></time>
  </h1>
</header>

<div class="h-feed">

  <% @articles.each do |article| %>
    <%= render "/articles/tile", article: article %>
  <% end %>

</div>
