<div class="h-feed">

  <%= render "/articles/tile", article: @articles.first %>

  <div class="row">
    <% @articles[1..2].each do |article| %>
      <%= render "/articles/tile", article: article %>
    <% end %>
  </div>

  <div class="row">
    <% @articles[3..4].each do |article| %>
      <%= render "/articles/tile", article: article %>
    <% end %>
  </div>

</div>
