<ol class="h-feed">
  <% 5.times do %>
    <li>
      <article class="h-entry">
        <div class="p-name">
          <h1>Latest Post Up Top Full Width</h1>
          <h2>Subtitle Goes Below The Title</h2>
        </div>

        <dl>
          <dt>Words by</dt>
          <dd class="p-author">Author Name</dd>
          <dt>Photos by</dt>
          <dd class="p-author p-photographer">Photographer Name</dd>
          <dt>Illustrations by</dt>
          <dd class="p-author p-illustrator">Illustrator Name</dd>
        </dl>
      </article>
    </li>
  <% end %>
</ol>
