#admin-banner {
  nav {
    ul,
    li {
      display: inline;
      padding: 0;
      font-weight: bold;
    }

    li {
      margin-right:  .5em;
      padding-right: .75em;
      border-right: 1px solid #ccc;
    }

    li:last-child {
      margin-right:  0;
      padding-right: 0;
      border-right:  0
    }

    li a {
      font-weight: normal;
    }
  }

  p {
    margin-bottom: 0;
  }
}


#admin {
  article {
    margin: 0 5pt;
  }
}

@media (min-width: 768px) {
  #admin {
    article {
      margin: 0 50pt;
    }
  }
}

/* DANGER ZONE... */
/* lovingly inspired by GitHub's Danger Zone™ */
#danger-zone {
  margin-top: 7em;
  outline: 1px solid #c00;

  h2 {
    background: #c00;
    padding: .5em;
    color: white;
    font-weight: bold;
  }

  p {
    margin-bottom: 1em;
  }

  b {
    color: #c00;
  }

  button,
  input[type=submit] {
    border: none;
    background: #c00;
    padding: .5em;
    color: white;
  }
}

#danger-zone > div {
  padding: 1em;
  overflow: hidden;
}
/* ...DANGER ZONE */
