#the-archives {
  .h-feed {
    margin: 10pt 5pt 0 5pt;

    .year-section,
    .month-section {
      font-size: 1em;
    }

    .year-section {
      font-family: "alright_sansbold";
      border-bottom: 1px solid #ccc;
      margin-top: 0;
    }

    .month-section,
    .month-section a {
      font-family: "alright_sansthin";
      color: #999;
    }

    .h-entry {
      padding: 0 10pt;

      h1,
      h2 {
        margin: 0;
      }

      .p-name {
        display: block;
        margin-bottom: 1em;
      }

      .p-x-title {
        display: block;
        font-family: "harriet_displayblack_italic";
        font-size: 1em;
        letter-spacing: -.01em;
        margin-right: .25em;
      }

      .p-x-subtitle {
        display: block;
        font-family: "alright_sansthin";
        font-size: 1em;
        line-height: 1em;
        margin: 0;
      }
    }

  }

  /* narrower desktop browser window in between phone and tablet */
  @media (min-width: 500px) {
    .h-feed {
      margin: 20pt 10pt 5pt 10pt;

      .year-section,
      .month-section {
        font-size: 1.5em;
      }

      .h-entry {
        .p-x-title,
        .p-x-subtitle {
          font-size: 1.5em;
        }
      }
    }
  }

  @media (min-width: 768px) {
    .h-feed {
      margin: 0 50pt;

      .year-section,
      .month-section {
        font-size: 2em;
      }

      .h-entry {
        .p-x-title,
        .p-x-subtitle {
          font-size: 2em;
        }
      }
    }
  }

}
