#the-archives {
  .h-feed {
    margin: 0 50pt;

    .year-section {
      font-family: "alright_sansbold";
      border-bottom: 1px solid #ccc;
      margin-top: 0;
    }

    .month-section,
    .month-section a {
      font-family: "alright_sansthin";
      color: #999;
    }

    .h-entry {
      padding: 0 10pt;

      h1,
      h2 {
        margin: 0;
      }

      .p-name {
        display: block;
        margin-bottom: 1em;
      }

      .p-x-title {
        display: block;
        font-family: "harriet_displayblack_italic";
        font-size: 2em;
        letter-spacing: -.01em;
        margin-right: .25em;
      }

      .p-x-subtitle {
        display: block;
        font-family: "alright_sansthin";
        font-size: 2em;
        line-height: 1em;
        margin: 0;
      }
    }

  }
}
