#the-archives,
#articles {
  main header > h1 {
    text-align: center;
    padding: 0 50pt;

    font-family: "alright_sansthin";
    font-size: 2em;
    letter-spacing: -.01em;
    line-height: 1em;

    time {
      font-family: "alright_sansbold";
    }
  }
}

#article {
  .h-entry {

    header {
      position: relative;
      border-top: 1pt solid white;
      color: white;
      margin-bottom: 1em;

      /* for vertically aligning title/subtitle/contributors */
      transform-style: preserve-3d;

      .u-photo {
        background: black;
        width: 100%;
      }

      .meta {
        text-align: center;
        padding: 10pt;
        position: absolute;
        top: 0;
        width: 100%;

        /* for vertically aligning title/subtitle/contributors */
        top: 50%;
        transform: translateY(-50%);
      }

      h1 {
        font-family: "harriet_displayblack_italic";
        font-size: 1.3em;
        letter-spacing: -.08em;
        line-height: 1em;
        margin-bottom: .1em;
      }

      h2 {
        font-family: "alright_sansthin";
        font-size: .8em;
        letter-spacing: -.08em;
      }

      a {
        color: white;
      }

      .contributors {
        font-size: .5em;
        display: inline-block;
        margin: 0 auto;
        font-family: "alright_sansthin";

        th {
          text-align: right;
          padding-right: .25em;
          font-weight: normal;
          font-family: "harriet_displaylight_italic";
        }

        td {
          text-align: left;
          font-family: "alright_sansmedium";
        }
      } /* .contributors */
    } /* header */


    .e-content {
      color: #444;
      padding: 0 5pt;
      font-family: "harriet_displaylight";
      font-size: .66em;
      letter-spacing: .02em;

      > :first-child {
        font-size: 1.2em;
      }

      a {
        color: #666;
        text-decoration: underline;
        font-family: "harriet_displaybold";
      }

      a:hover {
        color: black;
        text-decoration: underline;
      }

      h1, h2, h3, h4, h5, h6 {
        font-family: "alright_sansbold";
        font-weight: normal;
      }

      i, cite, em, var, address, dfn {
        font-style: normal;
        font-family: "harriet_displaylight_italic";
      }

      dt, b, strong {
        font-family: "harriet_displaybold";
      }

      dd {
        margin-left: 20px;
        margin-start: 20px;
      }

      hr {
        border: none;
        border-bottom: 1pt solid #ccc;
        margin: 3em auto;
        width: 50%;
        display: block;
      }

      caption {
        text-align: left;
        font-family: "alright_sansbold";
        padding: .5em;
      }

      th {
        font-family: "harriet_display_bold";
        text-align: left;
        background: #eee;
        border-bottom: 1px solid white;
      }

      th, td {
        padding: .5em;
      }
    }

    footer {
      text-align: center;

      p {
        display: inline-block;
        margin:  20pt 0;
        padding: 20pt;
        border-top: 1pt solid #ccc;
        font-family: "harriet_displaylight_italic";
      }
    }

  } /* .h-entry */
} /* #article */

/* narrower desktop browser window in between phone and tablet */
@media (min-width: 500px) {
  #article {
    .h-entry {

      header {
        .meta {
          padding: 25pt;
        }

        h1 {
          font-size: 2em;
          letter-spacing: -.01em;
          line-height: 1em;
        }

        h2 {
          font-size: 1.5em;
          letter-spacing: -.01em;
        }

        .contributors {
          font-size: 1em;
        }
      }
      
      .e-content {
        padding: 0 10pt;
        font-size: 1em;

        > :first-child {
          font-size: 1.5em;
        }
      }
      
      footer {
        p {
          margin:  50pt 0;
          padding: 50pt;
        }
      }

    }
  }
}

@media (min-width: 768px) {
  #article {
    .h-entry {

      header {
        .meta {
          padding: 100pt 50pt;
          margin-bottom: 2em;
        }

        h1 {
          font-size: 4em;
          letter-spacing: -.01em;
          line-height: 1em;
        }

        h2 {
          font-size: 2em;
        }
      }
      
      .e-content {
        padding: 0 50pt;
      }
      
      footer {
        p {
          margin:  50pt 0;
          padding: 50pt;
        }
      }

    }
  }
}
