#article {
  .h-entry {

    header {
      position: relative;
      border-top: 1pt solid white;
      color: white;
      margin-bottom: 2em;

      /* for vertically aligning title/subtitle/contributors */
      -webkit-transform-style: preserve-3d;
      -moz-transform-style:    preserve-3d;
      transform-style:         preserve-3d;

      .u-photo {
        width: 100%;
      }

      .meta {
        text-align: center;
        padding: 100pt 50pt;
        position: absolute;
        top: 0;
        width: 100%;

        /* for vertically aligning title/subtitle/contributors */
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform:     translateY(-50%);
        transform:         translateY(-50%);
      }

      h1 {
        font-family: "harriet_displayblack_italic";
        font-size: 4em;
        letter-spacing: -.01em;
        line-height: 1em;
        margin-bottom: .1em;
      }

      h2 {
        font-family: "alright_sansthin";
      }

      a {
        color: white;
      }

      .contributors {
        margin: 0 auto;
        font-family: "alright_sansthin";

        th {
          text-align: right;
          padding-right: .25em;
          font-weight: normal;
          font-family: "harriet_displaylight_italic";
        }

        td {
          text-align: left;
          font-family: "alright_sansmedium";
        }
      } /* .contributors */
    } /* header */


    .e-content {
      color: #444;
      padding: 0 50pt;
      font-family: "harriet_displaylight";
      font-size: 1em;
      letter-spacing: .02em;

      > :first-child {
        font-size: 1.5em;
      }

      a {
        color: #666;
        text-decoration: underline;
        font-family: "harriet_displaybold";
      }

      a:hover {
        color: black;
        text-decoration: underline;
      }

      h1, h2, h3, h4, h5, h6 {
        font-family: "alright_sansbold";
        font-weight: normal;
      }

      i, cite, em, var, address, dfn {
        font-style: normal;
        font-family: "harriet_displaylight_italic";
      }

      dt, b, strong {
        font-family: "harriet_displaybold";
      }

      dd {
        margin-left: 20px;
        -webkit-margin-start: 20px;
      }

      hr {
        border: none;
        border-bottom: 1pt solid #ccc;
        margin: 3em auto;
        width: 50%;
        display: block;
      }

      caption {
        text-align: left;
        font-family: "alright_sansbold";
        padding: .5em;
      }

      th {
        font-family: "harriet_display_bold";
        text-align: left;
        background: #eee;
        border-bottom: 1px solid white;
      }

      th, td {
        padding: .5em;
      }
    }


    footer {
      text-align: center;

      p {
        display: inline-block;
        margin:  50pt 0;
        padding: 50pt;
        border-top: 1pt solid #ccc;
        font-family: "harriet_displaylight_italic";
      }
    }

  } /* .h-entry */
} /* #article */
