* {
  box-sizing: border-box;
}

.screen-reader-only {
  display: none;
}

form {
  font-family: "alright_sanslight";
  font-weight: 100;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

br { clear: both; }
