* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}

.screen-reader-only {
  display: none;
}

form {
  font-family: "alright_sanslight";
  font-weight: 100;
}

a  { color: black; }

br { clear: both; }
