#contributor {
  padding: 0;

  .h-feed,
  .h-card {
    margin: 0;
    padding: 0;
    width: 100%;
    float: none;

    .p-nickname,
    .u-url,
    header a {
      display: block;
    }
  }

  .h-feed,
  .h-card { margin: 0; padding: 5pt; }

  h1 {
    font-family: "alright_sansthin";
    padding: 0;
    margin:  0;
  }

  .h-card {
    .p-name {
      font-family: "alright_sansbold";
    }

    img {
      margin-bottom: .5em;
      max-width: 100%;
    }

    p {
      font-family: "harriet_displaylight";
      font-size: 13pt;
    }
  } /* .h-card */

  .h-feed > header h1 {
    font-size: 1em;
  }

  .h-entry {
    *zoom: 1;
    background-color:    black;
    background-position: center;
    background-size:     cover;
    border-top: 1px solid white;
    color: white;
    float: none;
    margin:  0;
    padding: 0 25pt;
    position: relative;
    text-align: center;
    width: 100%;
    height: 150pt;

    /* for vertically aligning title/subtitle/contributors */
    transform-style: preserve-3d;

    header {
      /* for vertically aligning title/subtitle/contributors */
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }

    h1,
    h2 {
      margin:  0;
      padding: 0;
    }

    h1 {
      font-family: "harriet_displayblack_italic";
      font-size: 1.5em;
      line-height: 1em;
      margin-bottom: .1em;
      letter-spacing: -0.08em;
    }

    h2 {
      font-family: "alright_sansthin";
      font-size: 1em;
      letter-spacing: -0.08em;
    }

    a {
      color: white;
    }
  } /* .h-entry */

} /* #contributor */


@media (min-width: 500px) {
  #contributor {
    padding: 5pt;

    .h-feed > header h1 {
      font-size: 1.5em;
    }

    .h-entry {
      h1 {
        font-size: 2em;
        letter-spacing: -.01em;
      }

      h2 {
        font-size: 0em;
        letter-spacing: -0.08em;
      }
    }
  }
}

@media (min-width: 768px) {
  #contributor {
    padding: 50pt;

    .h-feed > header h1 {
      font-size: 2em;
    }

    .h-feed,
    .h-card {
      width: 49%;
      float: left;
    }

    .h-feed { margin-left:  1%; padding: 0; padding-left:  25pt; }
    .h-card { margin-right: 1%; padding: 0; padding-right: 25pt; }

    .h-entry {
      h1 {
        font-size: 2.25em;
        letter-spacing: 0em;
      }
    }
  }
}
