@font-face {
  font-family: "alright-sansmedium";
  src: url("/assets/alrightsans-medium-webfont.eot");
  src: url("/assets/alrightsans-medium-webfont.eot?#iefix") format("embedded-opentype"),
    url("/assets/alrightsans-medium-webfont.woff2") format("woff2"),
    url("/assets/alrightsans-medium-webfont.woff") format("woff"),
    url("/assets/alrightsans-medium-webfont.ttf") format("truetype"),
    url("/assets/alrightsans-medium-webfont.svg#alright-sansmedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "alright-sanslight-italic";
  src: url("/assets/alrightsans-lightitalic-webfont.eot");
  src: url("/assets/alrightsans-lightitalic-webfont.eot?#iefix") format("embedded-opentype"),
    url("/assets/alrightsans-lightitalic-webfont.woff2") format("woff2"),
    url("/assets/alrightsans-lightitalic-webfont.woff") format("woff"),
    url("/assets/alrightsans-lightitalic-webfont.ttf") format("truetype"),
    url("/assets/alrightsans-lightitalic-webfont.svg#alright-sanslight-italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "alright-sanslight";
  src: url("/assets/alrightsans-light-webfont.eot");
  src: url("/assets/alrightsans-light-webfont.eot?#iefix") format("embedded-opentype"),
    url("/assets/alrightsans-light-webfont.woff2") format("woff2"),
    url("/assets/alrightsans-light-webfont.woff") format("woff"),
    url("/assets/alrightsans-light-webfont.ttf") format("truetype"),
    url("/assets/alrightsans-light-webfont.svg#alright-sanslight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "alright-sansextra-thin";
  src: url("/assets/alrightsans-extrathin-webfont.eot");
  src: url("/assets/alrightsans-extrathin-webfont.eot?#iefix") format("embedded-opentype"),
    url("/assets/alrightsans-extrathin-webfont.woff2") format("woff2"),
    url("/assets/alrightsans-extrathin-webfont.woff") format("woff"),
    url("/assets/alrightsans-extrathin-webfont.ttf") format("truetype"),
    url("/assets/alrightsans-extrathin-webfont.svg#alright-sansextra-thin") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "alright-sansbold";
  src: url("/assets/alrightsans-bold-webfont.eot");
  src: url("/assets/alrightsans-bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("/assets/alrightsans-bold-webfont.woff2") format("woff2"),
    url("/assets/alrightsans-bold-webfont.woff") format("woff"),
    url("/assets/alrightsans-bold-webfont.ttf") format("truetype"),
    url("/assets/alrightsans-bold-webfont.svg#alright-sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "alright-sansblack";
  src: url("/assets/alrightsans-black-webfont.eot");
  src: url("/assets/alrightsans-black-webfont.eot?#iefix") format("embedded-opentype"),
    url("/assets/alrightsans-black-webfont.woff2") format("woff2"),
    url("/assets/alrightsans-black-webfont.woff") format("woff"),
    url("/assets/alrightsans-black-webfont.ttf") format("truetype"),
    url("/assets/alrightsans-black-webfont.svg#alright-sansblack") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "alright-sansmedium-italic";
  src: url("/assets/alrightsans-mediumitalic-webfont.eot");
  src: url("/assets/alrightsans-mediumitalic-webfont.eot?#iefix") format("embedded-opentype"),
    url("/assets/alrightsans-mediumitalic-webfont.woff2") format("woff2"),
    url("/assets/alrightsans-mediumitalic-webfont.woff") format("woff"),
    url("/assets/alrightsans-mediumitalic-webfont.ttf") format("truetype"),
    url("/assets/alrightsans-mediumitalic-webfont.svg#alright-sansmedium-italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "alright-sansextra-thin-italic";
  src: url("/assets/alrightsans-extrathinitalic-webfont.eot");
  src: url("/assets/alrightsans-extrathinitalic-webfont.eot?#iefix") format("embedded-opentype"),
    url("/assets/alrightsans-extrathinitalic-webfont.woff2") format("woff2"),
    url("/assets/alrightsans-extrathinitalic-webfont.woff") format("woff"),
    url("/assets/alrightsans-extrathinitalic-webfont.ttf") format("truetype"),
    url("/assets/alrightsans-extrathinitalic-webfont.svg#alright-sansextra-thin-italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "alright-sansregular";
  src: url("/assets/alrightsans-regular-webfont.eot");
  src: url("/assets/alrightsans-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("/assets/alrightsans-regular-webfont.woff2") format("woff2"),
    url("/assets/alrightsans-regular-webfont.woff") format("woff"),
    url("/assets/alrightsans-regular-webfont.ttf") format("truetype"),
    url("/assets/alrightsans-regular-webfont.svg#alright-sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "alright-sansregular-italic";
  src: url("/assets/alrightsans-regularitalic-webfont.eot");
  src: url("/assets/alrightsans-regularitalic-webfont.eot?#iefix") format("embedded-opentype"),
    url("/assets/alrightsans-regularitalic-webfont.woff2") format("woff2"),
    url("/assets/alrightsans-regularitalic-webfont.woff") format("woff"),
    url("/assets/alrightsans-regularitalic-webfont.ttf") format("truetype"),
    url("/assets/alrightsans-regularitalic-webfont.svg#alright-sansregular-italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "alright-sansbold-italic";
  src: url("/assets/alrightsans-bolditalic-webfont.eot");
  src: url("/assets/alrightsans-bolditalic-webfont.eot?#iefix") format("embedded-opentype"),
    url("/assets/alrightsans-bolditalic-webfont.woff2") format("woff2"),
    url("/assets/alrightsans-bolditalic-webfont.woff") format("woff"),
    url("/assets/alrightsans-bolditalic-webfont.ttf") format("truetype"),
    url("/assets/alrightsans-bolditalic-webfont.svg#alright-sansbold-italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "alright-sansblack-italic";
  src: url("/assets/alrightsans-blackitalic-webfont.eot");
  src: url("/assets/alrightsans-blackitalic-webfont.eot?#iefix") format("embedded-opentype"),
    url("/assets/alrightsans-blackitalic-webfont.woff2") format("woff2"),
    url("/assets/alrightsans-blackitalic-webfont.woff") format("woff"),
    url("/assets/alrightsans-blackitalic-webfont.ttf") format("truetype"),
    url("/assets/alrightsans-blackitalic-webfont.svg#alright-sansblack-italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "alright-sansultra";
  src: url("/assets/alrightsans-ultra-webfont.eot");
  src: url("/assets/alrightsans-ultra-webfont.eot?#iefix") format("embedded-opentype"),
    url("/assets/alrightsans-ultra-webfont.woff2") format("woff2"),
    url("/assets/alrightsans-ultra-webfont.woff") format("woff"),
    url("/assets/alrightsans-ultra-webfont.ttf") format("truetype"),
    url("/assets/alrightsans-ultra-webfont.svg#alright-sansultra") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "alright-sansthin-italic";
  src: url("/assets/alrightsans-thinitalic-webfont.eot");
  src: url("/assets/alrightsans-thinitalic-webfont.eot?#iefix") format("embedded-opentype"),
    url("/assets/alrightsans-thinitalic-webfont.woff2") format("woff2"),
    url("/assets/alrightsans-thinitalic-webfont.woff") format("woff"),
    url("/assets/alrightsans-thinitalic-webfont.ttf") format("truetype"),
    url("/assets/alrightsans-thinitalic-webfont.svg#alright-sansthin-italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "alright-sansultra-italic";
  src: url("/assets/alrightsans-ultraitalic-webfont.eot");
  src: url("/assets/alrightsans-ultraitalic-webfont.eot?#iefix") format("embedded-opentype"),
    url("/assets/alrightsans-ultraitalic-webfont.woff2") format("woff2"),
    url("/assets/alrightsans-ultraitalic-webfont.woff") format("woff"),
    url("/assets/alrightsans-ultraitalic-webfont.ttf") format("truetype"),
    url("/assets/alrightsans-ultraitalic-webfont.svg#alright-sansultra-italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "alright-sansthin";
  src: url("/assets/alrightsans-thin-webfont.eot");
  src: url("/assets/alrightsans-thin-webfont.eot?#iefix") format("embedded-opentype"),
    url("/assets/alrightsans-thin-webfont.woff2") format("woff2"),
    url("/assets/alrightsans-thin-webfont.woff") format("woff"),
    url("/assets/alrightsans-thin-webfont.ttf") format("truetype"),
    url("/assets/alrightsans-thin-webfont.svg#alright-sansthin") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "harriet-displaylight-italic";
  src: url("/assets/harrietdisplay-lightitalic-webfont.eot");
  src: url("/assets/harrietdisplay-lightitalic-webfont.eot?#iefix") format("embedded-opentype"),
    url("/assets/harrietdisplay-lightitalic-webfont.woff2") format("woff2"),
    url("/assets/harrietdisplay-lightitalic-webfont.woff") format("woff"),
    url("/assets/harrietdisplay-lightitalic-webfont.ttf") format("truetype"),
    url("/assets/harrietdisplay-lightitalic-webfont.svg#harriet-displaylight-italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "harriet-displaylight";
  src: url("/assets/harrietdisplay-light-webfont.eot");
  src: url("/assets/harrietdisplay-light-webfont.eot?#iefix") format("embedded-opentype"),
    url("/assets/harrietdisplay-light-webfont.woff2") format("woff2"),
    url("/assets/harrietdisplay-light-webfont.woff") format("woff"),
    url("/assets/harrietdisplay-light-webfont.ttf") format("truetype"),
    url("/assets/harrietdisplay-light-webfont.svg#harriet-displaylight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "harriet-displaybold";
  src: url("/assets/harrietdisplay-bold-webfont.eot");
  src: url("/assets/harrietdisplay-bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("/assets/harrietdisplay-bold-webfont.woff2") format("woff2"),
    url("/assets/harrietdisplay-bold-webfont.woff") format("woff"),
    url("/assets/harrietdisplay-bold-webfont.ttf") format("truetype"),
    url("/assets/harrietdisplay-bold-webfont.svg#harriet-displaybold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "harriet-displaymedium";
  src: url("/assets/harrietdisplay-medium-webfont.eot");
  src: url("/assets/harrietdisplay-medium-webfont.eot?#iefix") format("embedded-opentype"),
    url("/assets/harrietdisplay-medium-webfont.woff2") format("woff2"),
    url("/assets/harrietdisplay-medium-webfont.woff") format("woff"),
    url("/assets/harrietdisplay-medium-webfont.ttf") format("truetype"),
    url("/assets/harrietdisplay-medium-webfont.svg#harriet-displaymedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "harriet-displaymedium-italic";
  src: url("/assets/harrietdisplay-mediumitalic-webfont.eot");
  src: url("/assets/harrietdisplay-mediumitalic-webfont.eot?#iefix") format("embedded-opentype"),
    url("/assets/harrietdisplay-mediumitalic-webfont.woff2") format("woff2"),
    url("/assets/harrietdisplay-mediumitalic-webfont.woff") format("woff"),
    url("/assets/harrietdisplay-mediumitalic-webfont.ttf") format("truetype"),
    url("/assets/harrietdisplay-mediumitalic-webfont.svg#harriet-displaymedium-italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "harriet-displaybold-italic";
  src: url("/assets/harrietdisplay-bolditalic-webfont.eot");
  src: url("/assets/harrietdisplay-bolditalic-webfont.eot?#iefix") format("embedded-opentype"),
    url("/assets/harrietdisplay-bolditalic-webfont.woff2") format("woff2"),
    url("/assets/harrietdisplay-bolditalic-webfont.woff") format("woff"),
    url("/assets/harrietdisplay-bolditalic-webfont.ttf") format("truetype"),
    url("/assets/harrietdisplay-bolditalic-webfont.svg#harriet-displaybold-italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "harriet-displayblack";
  src: url("/assets/harrietdisplay-black-webfont.eot");
  src: url("/assets/harrietdisplay-black-webfont.eot?#iefix") format("embedded-opentype"),
    url("/assets/harrietdisplay-black-webfont.woff2") format("woff2"),
    url("/assets/harrietdisplay-black-webfont.woff") format("woff"),
    url("/assets/harrietdisplay-black-webfont.ttf") format("truetype"),
    url("/assets/harrietdisplay-black-webfont.svg#harriet-displayblack") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "harriet-displayblack-italic";
  src: url("/assets/harrietdisplay-blackitalic-webfont.eot");
  src: url("/assets/harrietdisplay-blackitalic-webfont.eot?#iefix") format("embedded-opentype"),
    url("/assets/harrietdisplay-blackitalic-webfont.woff2") format("woff2"),
    url("/assets/harrietdisplay-blackitalic-webfont.woff") format("woff"),
    url("/assets/harrietdisplay-blackitalic-webfont.ttf") format("truetype"),
    url("/assets/harrietdisplay-blackitalic-webfont.svg#harriet-displayblack-italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "harriet-displaythin";
  src: url("/assets/harrietdisplay-thin-webfont.eot");
  src: url("/assets/harrietdisplay-thin-webfont.eot?#iefix") format("embedded-opentype"),
    url("/assets/harrietdisplay-thin-webfont.woff2") format("woff2"),
    url("/assets/harrietdisplay-thin-webfont.woff") format("woff"),
    url("/assets/harrietdisplay-thin-webfont.ttf") format("truetype"),
    url("/assets/harrietdisplay-thin-webfont.svg#harriet-displaythin") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "harriet-displaythin-italic";
  src: url("/assets/harrietdisplay-thinitalic-webfont.eot");
  src: url("/assets/harrietdisplay-thinitalic-webfont.eot?#iefix") format("embedded-opentype"),
    url("/assets/harrietdisplay-thinitalic-webfont.woff2") format("woff2"),
    url("/assets/harrietdisplay-thinitalic-webfont.woff") format("woff"),
    url("/assets/harrietdisplay-thinitalic-webfont.ttf") format("truetype"),
    url("/assets/harrietdisplay-thinitalic-webfont.svg#harriet-displaythin-italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "harriet-displayregular-italic";
  src: url("/assets/harrietdisplay-regularitalic-webfont.eot");
  src: url("/assets/harrietdisplay-regularitalic-webfont.eot?#iefix") format("embedded-opentype"),
    url("/assets/harrietdisplay-regularitalic-webfont.woff2") format("woff2"),
    url("/assets/harrietdisplay-regularitalic-webfont.woff") format("woff"),
    url("/assets/harrietdisplay-regularitalic-webfont.ttf") format("truetype"),
    url("/assets/harrietdisplay-regularitalic-webfont.svg#harriet-displayregular-italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "harriet-display-regularRg";
  src: url("/assets/harrietdisplay-regular-webfont.eot");
  src: url("/assets/harrietdisplay-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("/assets/harrietdisplay-regular-webfont.woff2") format("woff2"),
    url("/assets/harrietdisplay-regular-webfont.woff") format("woff"),
    url("/assets/harrietdisplay-regular-webfont.ttf") format("truetype"),
    url("/assets/harrietdisplay-regular-webfont.svg#harriet-display-regularRg") format("svg");
  font-weight: normal;
  font-style: normal;

}
