@font-face {
    font-family: 'alright-sans-regular';
    src: url('/assets/alrightsans-regular-webfont.eot');
    src: url('/assets/alrightsans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/alrightsans-regular-webfont.woff') format('woff'), url('/assets/alrightsans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alright-sans-regular-italic';
    src: url('/assets/alrightsans-regularitalic-webfont.eot');
    src: url('/assets/alrightsans-regularitalic-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/alrightsans-regularitalic-webfont.woff') format('woff'), url('/assets/alrightsans-regularitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alright-sans-medium';
    src: url('/assets/alrightsans-medium-webfont.eot');
    src: url('/assets/alrightsans-medium-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/alrightsans-medium-webfont.woff') format('woff'), url('/assets/alrightsans-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alright-sans-bold';
    src: url('/assets/alrightsans-bold-webfont.eot');
    src: url('/assets/alrightsans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/alrightsans-bold-webfont.woff') format('woff'), url('/assets/alrightsans-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
