footer[role=contentinfo] {
  clear: both;
  margin-top: 50px;
  padding: 5px 25px 25px 25px;

  input,
  textarea {
    display: block;
    width: 100%;
    margin-bottom: 1em;
  }

  #about {
    padding: 25px 25px 25px 0;
  }

  #contact {
    padding: 25px 0 25px 25px;
  }

  input,
  #about,
  #contact {
    width: 50%;
    float: left;
    margin: 0;

    h1 {
      font-family: "alright_sansbold";
      font-size: 2em;
    }
  }

  p {
    font-family: "harriet_displaylight";
    font-size: 13pt;
  }

  input,
  textarea {
    padding: 5px;
  }

  input:nth-of-type(1) {
    width: 49%;
    margin-right: 1%;
  }

  textarea {
    clear: both;
    margin-top: 2em;
    height: 6em;
  }

  .cancel {
    padding: 5px 0;
    float: left;
  }

  button {
    background: black;
    color: white;
    border: none;
    padding: 5px 10px;
    float: right;
  }

  .license {
    text-align: center;
    padding: 50px 0 10px 0;
    clear: both;
  }


  #archives {
    clear: both;
    padding: 25px 0;

    h1 {
      font-family: "alright_sansbold";
    }

    p {
      font-family: "harriet_displaylight";
      font-size: 14pt;
    }

    .year {
      font-family: "harriet_displaybold";
      margin-right: 1em;
    }

    .month {
      margin-left: 1em;
    }
  } /* #archives */
}
