/* shared form styles for footer contact and login */
#login,
footer[role=contentinfo] {
  clear: both;
  margin-top: 50pt;
  padding: 5pt 50pt 25pt 50pt;

  input,
  textarea {
    display: block;
    width: 100%;
    margin-bottom: 1em;
  }

  #about {
    padding: 25pt 50pt 25pt 0;
  }

  #contact {
    padding: 25pt 0 25pt 50pt;
  }

  input,
  #about,
  #contact {
    width: 50%;
    float: left;
    margin: 0;

    h1 {
      font-family: "alright_sansbold";
      font-size: 2em;
    }
  }

  p {
    font-family: "harriet_displaylight";
    font-size: 13pt;
  }

  input,
  textarea {
    padding: 5pt;
  }

  input:nth-of-type(1) {
    width: 49%;
    margin-right: 1%;
  }

  textarea {
    clear: both;
    margin-top: 2em;
    height: 6em;
  }

  .cancel {
    padding: 5pt 0;
    float: left;
  }

  button {
    background: black;
    color: white;
    border: none;
    padding: 5pt 10pt;
    float: right;
  }

  .license {
    text-align: center;
    padding: 50pt 0 10pt 0;
    clear: both;
  }


  #archives {
    clear: both;
    padding: 25pt 0;

    h1 {
      font-family: "alright_sansbold";
    }

    p {
      font-family: "harriet_displaylight";
      font-size: 14pt;
    }

    .year {
      font-family: "harriet_displaybold";
      margin-right: 1em;
    }

    .month {
      margin-left: 1em;
    }
  } /* #archives */
}

/* /login specific styles */
#login {
  input:nth-of-type(1),
  input {
    width: 100%;
    float: none;
    margin-bottom: 1em;
  }

  label {
    font-family: "alright_sansmedium";
  }
}
