/* shared form styles for footer contact and login */
footer[role=contentinfo] {
  clear: both;
  margin-top: 50pt;
  padding: 10pt 5pt 0 5pt;
  
  #archives,
  #support {
    margin: 0;
    padding: 0;

    h1 {
      font-family: "alright_sansbold";
      font-size: 2em;
    }
  }

  nav[role=nav] {
    clear: both;
    padding-top: 4em;

    ul {
      margin: 0;
      padding: 0;
      text-align: center;
    }

    li {
      display: block;
      margin: 0 0 2pt 0;
      padding: 10pt 0;
      font-family: "alright_sansthin";
      text-transform: uppercase;
    }

    li:last-child {
      margin: 0;
    }
  }

  p {
    font-family: "harriet_displaylight";
    font-size: 13pt;
  }

  .license {
    text-align: center;
    padding: 50pt 0 10pt 0;
    clear: both;
    
    .short-code {
      display: block;
    }
  }

  #archives {
    h1 {
      font-family: "alright_sansbold";
    }

    p {
      font-family: "harriet_displaylight";
      font-size: 14pt;
    }

    .year {
      font-family: "harriet_displaybold";
      margin-right: 1em;
    }

    .month {
      margin-left: 1em;
    } /* #archives */
  }
}


@media (min-width: 768px) {
  #archives,
  #support {
    width: 49%;
    float: left;
    margin: 0;
    padding: 25pt 25pt 0 25pt;
  }

  #archives {
    padding-left: 0;
    margin-right:  1%;
  }

  #support {
    padding-right: 0;
    margin-left:  1%;
  }

  footer[role=contentinfo] {
    padding: 5pt 50pt 25pt 50pt;
    
    
    nav[role=nav] {
      clear: both;
      padding-top: 4em;

      ul {
        margin: 0;
        padding: 0;
        text-align: center;
      }

      li {
        display: inline-block;
        margin: 0 1em 0 0;
        padding: .5em .6em;
      }
    }
  }
}
