/* shared form styles for footer contact and login */
#login,
footer[role=contentinfo] {
  clear: both;
  margin-top: 50pt;
  padding: 5pt 50pt 25pt 50pt;

  input,
  textarea {
    display: block;
    width: 100%;
    margin-bottom: 1em;
  }

  input,
  #about,
  #contact {
    width: 49%;
    float: left;
    margin: 0;
    padding: 25pt;

    h1 {
      font-family: "alright_sansbold";
      font-size: 2em;

      em {
        font-weight: normal;
        font-family: "harriet_displayblack_italic";
        letter-spacing: -.01em;
        line-height: 1em;
        margin-bottom: .25em;
      }
    }
  }

  #about {
    padding-left: 0;
    margin-right:  1%;
  }

  #contact {
    padding-right: 0;
    margin-left:  1%;
  }

  p {
    font-family: "harriet_displaylight";
    font-size: 13pt;
  }

  input,
  textarea {
    width: 49%;
    padding: 5pt;
    border: 1px solid #ccc;
    outline: none;
  }

  input:focus,
  textarea:focus {
    border: 1px solid #666;
  }

  input[type=text] {
    margin-right: 1%;
  }

  input[type=email] {
    margin-left: 1%;
  }

  textarea {
    width: 100%;
    clear: both;
    margin-top: .75em;
    height: 6em;
  }

  .cancel {
    color: #ccc;
    padding: 5pt 0;
    float: left;
  }

  button {
    background: black;
    color: white;
    border: none;
    padding: 5pt 10pt;
    float: right;
  }

  .license {
    text-align: center;
    padding: 50pt 0 10pt 0;
    clear: both;
  }


  #archives {
    clear: both;
    padding: 25pt 0;

    h1 {
      font-family: "alright_sansbold";
    }

    p {
      font-family: "harriet_displaylight";
      font-size: 14pt;
    }

    .year {
      font-family: "harriet_displaybold";
      margin-right: 1em;
    }

    .month {
      margin-left: 1em;
    }
  } /* #archives */
}

/* /login specific styles */
#login {
  input:nth-of-type(1),
  input {
    width: 100%;
    float: none;
    margin-bottom: 1em;
  }

  label {
    font-family: "alright_sansmedium";
  }
}
