footer[role=contentinfo] {
  clear: both;
  margin-top: 50px;
  padding: 5px 25px 25px 25px;

  input,
  textarea {
    display: block;
    width: 100%;
    margin-bottom: 1em;
  }

  input,
  #about,
  #contact {
    width: 50%;
    float: left;
    margin: 0;
    padding: 25px;

    h1 {
      font-family: "alright_sansbold";
      font-size: 2em;
    }
  }

  input,
  textarea {
    padding: 5px;
  }

  input:nth-of-type(1) {
    width: 49%;
    margin-right: 1%;
  }

  textarea {
    clear: both;
    margin-top: 2em;
    height: 6em;
  }

  .cancel {
    padding: 5px 0;
    float: left;
  }

  button {
    padding: 5px;
    float: right;
  }

  .license {
    text-align: center;
    padding: 50px 0 10px 0;
    clear: both;
  }
}
