header[role=banner] {
  background: black;
  color: white;
  padding: 25px;

  a {
    color: white;
    text-decoration: none;
    margin-right: 1em;
  }

  a:hover {
    text-decoration: underline;
  }

  h1 {
    font-weight: normal;
    font-family: "harriet_displayblack_italic";
    font-size: 2em;
    letter-spacing: -.01em;
    line-height: 1em;
    margin-bottom: .25em;
  }

  h1,
  form[role=search] {
    width: 50%;
    float: left;
    margin: 0;
  }

  form[role=search] {
    text-align: right;
  }

  input {
    color: #444;
    text-align: right;
    padding: 5px;
  }

  br { clear: both; }
}
