header[role=banner] {
  background: black;
  color: white;
  padding: 10pt 5pt 0 5pt;

  a {
    color: white;
    margin-right: 1em;
  }

  h1 {
    font-weight: normal;
    font-family: "harriet_displayblack_italic";
    font-size: 1.25em;
    letter-spacing: -.01em;
    line-height: 1em;
    padding: 0;
  }

  h1,
  form[role=search] {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  input {
    color: #444;
    text-align: right;
    padding: 5pt;
    text-transform: uppercase;
    width: 80%;
    margin-top: 1em;
  }
}

/* narrower desktop browser window in between phone and tablet */
@media (min-width: 500px) {
  header[role=banner] {
    padding: 20pt 10pt 5pt 10pt;

    h1 { font-size: 1.75em; }
  }
}

@media (min-width: 768px) {
  header[role=banner] {
    padding: 25pt 50pt;


    h1,
    form[role=search] {
      width: 50%;
      float: left;
      margin: 0;
    }

    h1 {
      text-align: left;
      font-size: 2em;
    }

    form[role=search] {
      float: right;
      text-align: right;
      width: 30%;
    }

    input {
      margin: 0;
    }
  }
}
