header[role=banner] {
  background: black;
  color: white;
  padding: 25pt 50pt;

  a {
    color: white;
    margin-right: 1em;
  }

  h1 {
    font-weight: normal;
    font-family: "harriet_displayblack_italic";
    font-size: 2em;
    letter-spacing: -.01em;
    line-height: 1em;
    margin-bottom: .25em;
  }

  h1,
  form[role=search] {
    width: 100%;
    margin: 0;
    text-align: center;
  }

  input {
    color: #444;
    text-align: right;
    padding: 5pt;
    text-transform: uppercase;
    width: 80%;
    margin-top: 1em;
  }
}


@media (min-width: 768px) {
  header[role=banner] {
    h1,
    form[role=search] {
      width: 50%;
      float: left;
      margin: 0;
    }

    h1 {
      text-align: left;
    }

    form[role=search] {
      float: right;
      text-align: right;
      width: 30%;
    }

    input {
      margin: 0;
    }
  }
}

@media (min-width: 800px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
