#articles,
#home {

  .h-feed {
    margin:  0;
    padding: 0;
    list-style: none;
  }

  .row {
    clear: both;
  }

  .row .h-entry:first-child {
    border-right: 1px solid white;
  }

  .row .h-entry {
    width: 50%;
    float: left;
    height: 300pt;

    h1 {
      font-family: "alright_sansbold";
      font-size: 2em;
    }
  }

  .h-entry {
    *zoom: 1;
    background-color:    black;
    background-position: center;
    background-size:     cover;
    border-top: 1px solid white;
    color: white;
    float: none;
    margin:  0;
    padding: 0;
    position: relative;
    text-align: center;
    width: 100%;
    height: 400pt;

    /* for vertically aligning title/subtitle/contributors */
    transform-style: preserve-3d;

    header {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      margin: 0 50pt;
      z-index: 10;
      overflow: hidden;
    }

    h1,
    h2 {
      margin:  0;
      padding: 0;
    }

    h1 {
      font-family: "harriet_displayblack_italic";
      font-size: 1em; /* TODO */
      font-size: 4em; /* TODO */
      letter-spacing: -.01em;
      line-height: 1em;
      margin-bottom: .1em;
    }

    h2 {
      font-family: "alright_sansthin";
    }

    a {
      color: white;
    }

    .contributors {
      margin: 0 auto;
      font-family: "alright_sansthin";

      th {
        text-align: right;
        padding-right: .25em;
        font-weight: normal;
        font-family: "harriet_displaylight_italic";
      }

      td {
        text-align: left;
        font-family: "alright_sansmedium";
      }
    }
  } /* .h-entry */

} /* #home */
