#home {

  .h-feed {
    margin:  0;
    padding: 0;
    list-style: none;
  }

  .row {
    clear: both;
  }

  .row .h-entry:first-child {
    border-right: 1px solid white;
  }

  .row .h-entry {
    width: 50%;
    float: left;

    h1 {
      font-family: "alright_sansbold";
      font-size: 2em;
    }
  }

  .h-entry {
    *zoom: 1;
    background-color:        black;
    background-position:     center;
    background-size:         cover;
    -moz-background-size:    cover;
    -webkit-background-size: cover;
    border-bottom: 1px solid white;
    color: white;
    float: none;
    margin:  0;
    padding: 100pt 50pt;
    position: relative;
    text-align: center;
    width: 100%;

    h1,
    h2 {
      margin:  0;
      padding: 0;
    }

    h1 {
      font-family: "harriet_displayblack_italic";
      font-size: 4em;
      letter-spacing: -.01em;
      line-height: 1em;
      margin-bottom: .1em;
    }

    h2 {
      font-family: "alright_sansthin";
    }

    .contributors {
      margin: 0 auto;

      th {
        text-align: right;
        padding-right: .25em;
        font-weight: normal;
      }

      td {
        text-align: left;
        font-weight: bold;
      }
    }
  } /* .h-entry */

}
